<div class="col-xs-12">
    <div class="flexslider">
        <ul class="slides">
            <!-- slide 1 -->
            <li class="slide lightly" data-style="lightly">
                <div class="slide-wrapper">
                    <div class="slide-col hero">
                        <div class="slide-content center">
                            <div class="content image-container">
                                <img data-src="img/slides/slide-1.jpg" class="hero" />
                            </div>
                        </div>
                    </div>
                    <div class="slide-col copy">
                        <div class="slide-content center">
                            <div class="content copy-container">
                                <h2><span>Gold Pencil at the</span>One Show</h2>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus ultrices purus, eget semper purus suscipit nec. Maecenas non augue lectus. Praesent dapibus, ipsum at sodales tempor, diam mi euismod dui, non tristique sapien tortor id eros.</p>
                                </div>
                                <nav>
                                    <a class="btn btn-more">Read More</a>
                                    <a class="btn btn-all hidden-xs">View All Articles</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- slide 2 -->
            <li class="slide darkly" data-style="darkly">
                <div class="slide-wrapper">
                    <div class="slide-col hero">
                        <div class="slide-content center">
                            <div class="content image-container">
                                <img data-src="img/slides/boots.jpg" class="hero" />
                            </div>
                        </div>
                    </div>
                    <div class="slide-col copy">
                        <div class="slide-content center">
                            <div class="content copy-container">
                                <h2><span>The New</span>Dallas Office</h2>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus ultrices purus, eget semper purus suscipit nec. Maecenas non augue lectus. Praesent dapibus, ipsum at sodales tempor, diam mi euismod dui, non tristique sapien tortor id eros.
                                    </p>
                                </div>
                                <nav>
                                    <a class="btn btn-more">Read More</a>
                                    <a class="btn btn-all hidden-xs">View All Articles</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- slide 3 -->
            <li class="slide custom" data-color="#5db2c4" data-style="custom">
                <div class="slide-wrapper">
                    <div class="slide-col hero">
                        <div class="slide-content center">
                            <div class="content image-container">
                                <img data-src="img/slides/duck.png" class="hero" />
                            </div>
                        </div>
                    </div>
                    <div class="slide-col copy">
                        <div class="slide-content center">
                            <div class="content copy-container">
                                <h2><span>What exactly are</span>Those Ducks?</h2>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus ultrices purus, eget semper purus suscipit nec. Maecenas non augue lectus. Praesent dapibus, ipsum at sodales tempor, diam mi euismod dui, non tristique sapien tortor id eros. Vivamus hendrerit leo tristique, hendrerit metus vel, condimentum dolor. Etiam accumsan sit amet ligula a blandit. Sed eleifend orci porttitor, porttitor erat ac, viverra leo. </p>
                                </div>
                                <nav>
                                    <a class="btn btn-more">Read More</a>
                                    <a class="btn btn-all hidden-xs">View All Articles</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div><!-- end .slider -->
    <div class="slider-controls-container">
        <div id="sliderControls"></div>
    </div>
</div>
