#AuthName "Restricted Access"
#AuthType Basic
#AuthUserFile /var/www/vhosts/saatchila.com/subdomains/staging/httpdocs/.htpasswd
#Require valid-user

# additions for RAMP
#SetEnvIf Request_URI "(/wp-content/uploads/)" allow
#SetEnvIf Request_URI "(xmlrpc.php|async-upload.php|wp-cron.php)$" allow
#Order allow,deny
#Allow from env=allow
#Satisfy any


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN HTML5 Boilerplate
# END HTML5 Boilerplate
