.directory {
  .sub-nav {
    .standard-block(relative);
    overflow: visible;
    background-color: #2f2f2f;
    padding:16px;
    color:white;


    @media(min-width: @screen-sm-min) {
      //height:120px;
      padding:40px;
    }

    .txt-employees {
      font-size: 250%;
      font-weight: bold;
      line-height: 40px;
      margin-right:10px;
    }

    .txt-employees-desc {
      line-height: 16px;
      font-size:75%;
      width: 100px;
      display:  inline-block;
      text-transform: uppercase;
    }



  }
}

// bootstrap theming
.dark-theme {
  .form-control {
    color:white;
    padding:10px;
    height:auto;
    background:black;
    border-radius: 50px;
    border-color:black;
  }

  .selecter {

    &:focus {
      outline: none;
    }

    width:100%;
    max-width:100%;

    &.selecter-selected {
      background:black;
      color:white;
    }
  }

}